{% extends "news/base.html" %}

{% block title %} 
    Animals of User
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/styl1.css' %}">
    <style>
        body {
            background-image: url('{% static "news/images/back_photo.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #333;
        }
        .container {
            
            background-image: url('{% static "news/images/b.jpg" %}');
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            max-width: 800px;
            margin: 0 auto;
        }
        .back-link {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
            border: 1px solid #333;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .back-link:hover {
            background-color: #333;
            color: #fff;
        }
        /* Стили для списка животных */
        .news-list-heading {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #666;
        }
        .news-list {
            list-style: none;
            padding: 0;
        }
        .news-item {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }
        .news-content {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .user-image {
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .news-link {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s;
        }
        .news-link:hover {
            color: #ff5733;
        }
        .delete-link {
            text-decoration: none;
            color: #ff0000;
            font-weight: bold;
            font-size: 16px;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block content %} 
    <div class="container">
        <a href="{% url 'news:main' %}" class="back-link">← Back</a>
        {% if user_id == user.id %}
            <a href="{% url 'news:add_animal' user_id %}" class="back-link">Добавить питомца</a>
        {% endif %}
        <h1 class="news-list-heading">Список всех животных пользователя:</h1>
        <ul class="news-list">
            {% for animal in animals %}
            <li class="news-item">
                <li class="info-item">
                    <img src="{% static animal.image.name %}" alt="image_of_animal" class="user-image">
                </li>
                <div class="news-content">
                    <a href="{% url 'news:get_info_about_animal' animal.id %}" class="news-link">
                        {{animal.title}} Likes:{{animal.likes}} owner:{{animal.owner}}
                    </a>
                    {% if animal.owner == user or perms.news.delete_comment %}
                        <a href="{% url 'news:delete_animal_of_user' animal.id %}" class="delete-link">Delete</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
