{% extends "news/base.html" %}

{% block title %} 
    Users
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/styleyy.css' %}">
    <style>
        body {
            background-image: url('{% static "news/images/back_photo.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #333;
        }
        .container {
            background-image: url('{% static "news/images/b.jpg" %}');
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            max-width: 800px;
            margin: 0 auto;
        }
        .back-link {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
            border: 1px solid #333;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .back-link:hover {
            background-color: #333;
            color: #fff;
        }
        .news-list-heading {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .news-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .news-item {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        }
        .news-content {
            margin-top: 10px;
        }
        .news-link {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        .news-link:hover {
            color: #ff5733;
        }
        .user-image {
            width: 200px; /* Установите желаемую максимальную ширину изображения */
            height: 200px;
        }
        .delete-link {
            text-decoration: none;
            color: #ff5733; /* Цвет для ссылки "Delete" */
            font-weight: bold;
            margin-left: 10px;
        }
        .delete-link:hover {
            text-decoration: underline; /* Подчеркиваем ссылку при наведении */
        }
    </style>
{% endblock %}


{% block content %} 
    <div class="container">
        <a href="{% url 'news:main' %}" class="back-link">← Back</a>
        <h1 class="news-list-heading">Список всех пользователей:</h1>
        <ul class="news-list">
            
            {% for user in users %}

                <li class="info-item">
                    <img src="{% static user.image.name %}" alt="image_of_user" class="user-image">
                </li>
                <div class="news-content">
                    <a href="{% url 'news:animals_of_user' user.id %}" class="news-link">
                        {{user}}
                    </a>
                </div>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
